<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <link rel="stylesheet" type="text/css" href="../../style.css">
    </head>
    <body>
        <div class="container">
            <div class="row row-margin-bottom">
                <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#f8f8f8">
                    <div class="row navbar-header col-xs-12">
                        <a class="navbar-brand col-xs-offset-1" href="../page/page-list.html" style="color:black"><span class="glyphicon  glyphicon-chevron-left"></span></a>
                        <a class="navbar-brand col-xs-8" href="#" style="color:black">Widgets</a>
                        <a href="widget-chooser.html" class="navbar-brand col-xs-1 pull-right" style="color:black"><span class="glyphicon   glyphicon-plus"></span></a>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div>
                    <h1 class="col-xs-9">GIZMODO</h1>
                    <a class="col-xs-1" style="height:100%; vertical-align:middle; line-height:80px;"><span class="glyphicon glyphicon-cog" style="font-size:1.6em"></span></a>
                    <a class="col-xs-1" style="height:100%; vertical-align:middle; line-height:80px;"><span class="glyphicon glyphicon-align-justify" style="font-size:1.6em"></span></a>
                </div>
            </div>
            <div class="row">
                <div>
                    <h4 class="col-xs-9">US Senate Reaches Compromis on Emergency Zika Funding</h4>
                    <a href="widget-heading.html" class="col-xs-1" style="height:100%; vertical-align:middle; line-height:80px;"><span class="glyphicon glyphicon-cog" style="font-size:1.6em"></span></a>
                    <a class="col-xs-1" style="height:100%; vertical-align:middle; line-height:80px;"><span class="glyphicon glyphicon-align-justify" style="font-size:1.6em"></span></a>
                </div>
            </div>
            <div class="row">
                <div>
                    <img class="col-xs-9" src="../../../pic/eg_tulip.jpg" alt="tulip"/>
                    <a href="widget-image.html" class="col-xs-1" style="height:100%; vertical-align:middle; line-height:80px;"><span class="glyphicon glyphicon-cog" style="font-size:1.6em"></span></a>
                    <a class="col-xs-1" style="height:100%; vertical-align:middle; line-height:80px;"><span class="glyphicon glyphicon-align-justify" style="font-size:1.6em"></span></a>
                </div>
            </div>
            <div class="row">
                <div>
                    <iframe width="640" height="360" src="https://www.youtube.com/embed/JQbjS0_ZfJ0" frameborder="0" allow="autoplay; encrypted-media" class="col-xs-9" style="margin-top: 30px;"></iframe>
                    <a href="widget-youtube.html" class="col-xs-1" style="height:100%; vertical-align:middle; line-height:80px;"><span class="glyphicon glyphicon-cog" style="font-size:1.6em"></span></a>
                    <a class="col-xs-1" style="height:100%; vertical-align:middle; line-height:80px;"><span class="glyphicon glyphicon-align-justify" style="font-size:1.6em"></span></a>
                </div>
            </div>
        </div>
        <span style="background-color:#f8f8f8; width:100%; position: fixed; height: 50px; bottom:0">
                <a class="navbar-brand col-xs-1" style="color:black"><span class="glyphicon glyphicon-play
"></span></a>                        
                <a class="navbar-brand col-xs-1" style="color:black"><span class="glyphicon glyphicon-eye-open
"></span></a>
                <a href="../user/profile.html" class="navbar-brand col-xs-2 pull-right" style="color:#528dc6"><span class="glyphicon glyphicon-user"/></a>
        </span>
    </body>
</html>