<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <link rel="stylesheet" type="text/css" href="../../style.css">
          <link rel="stylesheet" media="all and (orientation:portrait)" href="../../style.css" />
          <link rel="stylesheet" media="all and (orientation:landscape)" href="../../style.css" />
    </head>
    <body>
        <div class="container">
            <div class="row row-margin-bottom">
                <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#f8f8f8;border:none">
                    <div class="row navbar-header col-xs-12">
                        <a class="navbar-brand col-xs-offset-1" href="widget-list.html" style="color:black"><span class="glyphicon  glyphicon-chevron-left"></span></a>
                        <a class="navbar-brand col-xs-2" href="#" style="color:black" id="neww2">Widget Edit</a>
                        <a href="widget-list.html" class="navbar-brand pull-right" style="color:black"><span class="glyphicon glyphicon-ok"></span></a>
                    </div>
                </nav>
            </div>
            <div class="row" style="height:100%">
                <div class="col-xs-12">
                    <form>
                        <div class="form-group col-xs-12">
                            <div style="font-weight:bold">Name</div>
                            <input class="input col-xs-12" type="text" placeholder="text" style="border:1px solid gray">
                        </div>
                        <div class="form-group row-margin-top col-xs-12">
                            <div style="font-weight:bold">Text</div>
                            <input class="input col-xs-12" type="text" placeholder="text" style="border:1px solid gray;">
                        </div>
                        <div class="form-group row-margin-top col-xs-12">
                            <div style="font-weight:bold">URL</div>
                            <input class="input col-xs-12" type="text" placeholder="text" style="border:1px solid gray;">
                        </div>
                        <div class="form-group row-margin-top col-xs-12">
                            <div style="font-weight:bold">Width</div>
                            <input class="input col-xs-12" type="text" placeholder="text" style="border:1px solid gray;">
                        </div>
                        <div class="form-group row-margin-top col-xs-12">
                            <div style="font-weight:bold">Upload</div>
                            <div class="input-group" style="width:100%">
                                <input type="file" class="form-control">
                            </div>
                        </div>
                        <div>
                            <button class="button btn btn-block" style="background-color:#528dc6;color:white" type="button">
                                Upload Image
                            </button>
                        </div>
                        <div style="margin-top:20px">
                            <a href="widget-list.html">
                            <button class="button btn btn-danger btn-block" type="button">
                                Delete
                            </button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <span style="background-color:#f8f8f8; width:100%; position: fixed; height: 50px; bottom:0">
            <a class="navbar-brand col-xs-2 pull-right" style="color:#528dc6"><span class="glyphicon glyphicon-user"></span></a>
        </span>
    </body>
</html>