<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <link rel="stylesheet" type="text/css" href="../../style.css">
    </head>
    <body>
        <div class="container">
            <div class="row row-margin-bottom">
                <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#f8f8f8">
                    <div class="row navbar-header col-xs-12">
                        <a class="navbar-brand col-xs-offset-1" href="widget-list.html" style="color:black"><span class="glyphicon  glyphicon-chevron-left"></span></a>
                        <a class="navbar-brand col-xs-8" href="#" style="color:black">Choose Widget</a>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="list-group">
                        <a href="widget-heading.html"><li class="list-group-item" style="border:none; color:#528dc6">
                          <span>Header</span>
                        </li></a>
                        <li class="list-group-item" style="border:none; color:#528dc6"><span>Label</span>
                        </li>
                        <li class="list-group-item" style="border:none; color:#528dc6"><span>HTML</span>
                        </li>
                        <li class="list-group-item" style="border:none; color:#528dc6"><span>Text Input</span>
                        </li>
                        <li class="list-group-item" style="border:none; color:#528dc6"><span>Link</span>
                        </li>
                        <li class="list-group-item" style="border:none; color:#528dc6"><span>Button</span>
                        </li>
                        <a href="widget-image.html"><li class="list-group-item" style="border:none; color:#528dc6"><span>Image</span>
                        </li></a>
                        <a href="widget-youtube.html"><li class="list-group-item" style="border:none; color:#528dc6"><span>YouTube</span>
                        </li></a>
                        <li class="list-group-item" style="border:none; color:#528dc6"><span>Data Table</span>
                        </li>
                        <li class="list-group-item" style="border:none; color:#528dc6"><span>Repeater</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <span style="background-color:#f8f8f8; width:100%; position: fixed; height: 50px; bottom:0">
                <a class="navbar-brand col-xs-2 pull-right" style="color:#528dc6"><span class="glyphicon glyphicon-user"/></a>
        </span>
    </body>
</html>