<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <link rel="stylesheet" type="text/css" href="../../style.css">
    </head>
    <body>
        <div class="container">
            <div class="row row-margin-bottom">
                <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#528dc6">
                    <div class="row navbar-header col-xs-12">
                        <a class="navbar-brand col-xs-9 pull-left" href="#" style="color:white">Profile</a>
                        <a href="profile.html" class="navbar-brand col-xs-1 pull-right" style="color:white"><span class="glyphicon glyphicon-ok"/></a>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <form>
                        <div class="form-group">
                            <div>Username</div>
                            <input class="input col-xs-12" type="text" placeholder="text" style="border:1px solid gray">
                        </div>
                        <div class="form-group">
                            <div>Email</div>
                            <input class="input col-xs-12" type="email" placeholder="email" style="border:1px solid gray">
                        </div>
                        <div class="form-group">
                            <div>First Name</div>
                            <input class="input col-xs-12" type="text" placeholder="text" style="border:1px solid gray">
                        </div>
                        <div class="form-group">
                            <div>Last Name</div>
                            <input class="input col-xs-12" type="text" placeholder="text" style="border:1px solid gray">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row row-margin-top">
                <div class="col-xs-12 col-md-6">
                    <div>
                        <a href="../website/website-list.html"><button class="button btn btn-blue btn-block" type="button">Websites</button></a>
                    </div>
                    <div class="row-margin-top">
                        <a href="login.html"><button class="button btn btn-danger btn-block" type="button">Logout</button></a>
                    </div>
                </div>
            </div>
            <span class="row" style="background-color:#528dc6; width:100%; position: fixed; height: 50px; bottom:0">
                <a class="navbar-brand col-xs-2 pull-right" style="color:white"><span class="glyphicon glyphicon-user"/></a>
            </span>
        </div>
    </body>
</html>